body{
	overflow-x: hidden;
	margin: 0 0 0 0;
}
::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
img {
	width: 100vw;
	height: 141.42857vw;
}

.blacker{
	position: fixed;
	z-index: 999;
	background-color: rgba(0,0,0,0.6);
}
.overlay{
	position: fixed;
	z-index: 9999;
	background-color: rgba(255,255,255,1);
}
form button{
	font-size: 5vh;
}