.main{
	margin-top: 15vh;
}
.view_item {
	width: 10vw;
	display: inline-grid;
}
.view_item .item_block {
	background-color: #0058a2;
	width: 50%;
}
.views {
	margin-bottom: 5vh;
}
.boxer {
	background-color: var(--main-color);
	font-size: 2.5vh;
	color: white;
	text-align: center;
	padding: 10px 25px 10px 25px; 
	margin-top: 0.25vh;
	margin-bottom: 0.25vh;
}
button,
input {
	font-size: 2.5vh !important;
}