{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ contact.name }}</title>

	<link rel="stylesheet" type="text/css" href="{% static 'browser.css' %}">
</head>
<body style="background-image: url('{% static 'BG.jpg' %}');">
{% include "navbar/navbar.html" %}

<div class="col-xs-12 browser-bg"><img src="{{ lang.bg_img.url }}"></div>
<!-- browser -->
<div class="col-xs-12 col-lg-2"></div>
<div class="col-xs-12 col-lg-8 discounts">
	<div class="col-xs-12 discounts__header">
		<h3>{{ lang.header }}</h3>
		<p>{{ lang.text|linebreaks }}</p>
		<br><br><br>
		<h3>{{ lang.h1 }}</h3>
	</div>
	<div class="col-xs-12 discounts__items">
		{% for toode in tooted %}
		<!-- css overwrite col-lg-2 !!! -->
		<a data-toggle="modal" data-target="#toode-{{ toode.toode_id }}">
			<div class="col-xs-12 col-lg-2 discounts__items__item">
				<div class="col-xs-12 discounts__items__item__img">
					<img src="{{ toode.img.url }}">
				</div>
				<div class="col-xs-12 discounts__items__item__info">
					<h4>{{ toode.name }}</h4>
					<h5>{{ toode.price }}<sup>€</sup></h5>
					<h6>{{ lang.enne }}: {{ toode.prevprice }}€</h6>
				</div>
			</div>
		</a>
		<!-- Modal -->
<div class="toode__modal modal fade" id="toode-{{ toode.toode_id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
      	<div class="col-xs-12 closer"><a data-dismiss="modal">X</a></div>
        <div class="col-xs-12 col-md-2 image">
        	<img src="{{ toode.img.url }}">
        </div>
        <div class="col-xs-12 col-md-8 info">
        	<h2><b>{{ toode.name }}</b></h2>
			<p>{{ toode.description|linebreaks }}</p>
			<h5>{{ toode.price }}<sup>€</sup></h5>
			<h6>{{ lang.enne }}: {{ toode.prevprice }}€</h6>
		</div>
        <div class="col-xs-12 info">
			<table class="table">
				{% for row in toode.specs_as_table %}
				<tr>
					{% for item in row %}
					<td>
					{% if item == row.0 %}<b>{% endif %}
					{{ item }}
					{% if item == row.0 %}</b>{% endif %}
					</td>
					{% endfor %}
				</tr>
				{% endfor %}
			</table>
        </div>
        <div class="col-xs-12 info">
        	
        </div>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
		{% endfor %}
	</div>
</div>
<div class="col-xs-12 col-lg-2"></div>
<!-- end of browser -->

<script type="text/javascript" src="{% static 'browser.js' %}"></script>
{% include "navbar/footer.html" %}
</body>
</html>