{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>{{ contact.name }}</title>

	<link rel="stylesheet" type="text/css" href="{% static "table.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "backend.css" %}">
</head>
<body>
	{% include "navbar/navbar.html" %}

	<div class="col-xs-12 main" style="margin-top: 5vh">
		
	<div class="col-xs-12 col-md-2">
		<a href="/login">
			<div class="boxer">TAGASI</div>
		</a>
	</div>
	<div class="col-xs-12 col-md-10"></div>

	<div class="col-xs-12">
		<iframe class="menu" style="width: 100%; height: 93vh;" src="{{ link.link }}"></iframe>
	</div>

	</div>

	{% include "navbar/footer.html" %}
</body>
</html>