{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>{{ contact.name }}</title>

	<link rel="stylesheet" type="text/css" href="{% static "login.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "backend.css" %}">
</head>
<body>
	<div class="absolute">
		<h4>Sisselogitud: <b>{{ logged_in }}</b></h4>
	</div>
	{% include "navbar/navbar.html" %}
	<div class="main col-xs-12">
		<div class="col-xs-6 workers">

			{% if request.user.is_superuser %}
			<h3><a href="/admin"><- ADMINPANEELILE</a></h3>
			{% else %}
			<form method="POST">{% csrf_token %}
				<button type="submit" name="submit-btn" value="logout">log out</button>
			</form>
			{% endif %}
			{% if request.user.is_superuser %}
			<div class="col-xs-12">
				<h3>Superkasutajad:</h3>
				{% for i in superusers %}
				<h4><b>{{ i }}</b></h4>
				{% endfor %}
				<h3>Töötajad:</h3>
				{% for i in workers %}
				<h4><b>{{ i.name }}</b> - Töök:{{ i.tookoda_priority }} - varuo:{{ i.varuosad_priority }} - kalender:{{ i.kalender_priority }} - kalender2:{{ i.kalender2_priority }} - Tooted:{{ i.tooted_priority }}</h4>
				{% endfor %}
			</div>
			{% endif %}
			<h1>
				<a href="/"><- esilehele</a><br>
				{% if request.session.kalender_priority != "M" %}
				<a href="/kalender">kalender (1) - pood</a><br>
				{% endif %}
				{% if request.session.kalender2_priority != "M" %}
				<a href="/kalender2">kalender (2) - parandus</a><br>
				{% endif %}
				{% if request.session.tookoda_priority != "M" %}
				<a href="/tookoda">tookoda</a><br>
				{% endif %}
				{% if request.session.varuosad_priority != "M" %}
				<a href="/varuosad">varuosad</a><br>
				{% endif %}
				
				
				<a href="/hinnasilt">hinnasilt</a><br>
				<a href="/menu">menüü</a><br>
				<br>
				{% if request.session.tooted_priority != "M" %}
				<a href="/tootelisamine">Toodete lisamine</a><br>
				<a href="/tootehaldus">Toodete haldus</a><br>
				{% endif %}
				<br>
				{% if request.user.is_superuser %}
				<a href="/loader">Lae andmeid sisse</a><br>
				<a href="/statistika">statistika</a><br>
				{% endif %}
			</h1>

		</div>
		{% if request.session.kirjad_priority != "M" %}
		<div class="col-xs-6 mails">
			<h3>Kirjad:</h3>
			{% for i in mails %}
			<h3><a href='#a{{ i.date|cut:":"|cut:"." }}' data-toggle="collapse">{{ i.nimi }} - {{ i.e_mail }}</a></h3>

			<div id='a{{ i.date|cut:":"|cut:"." }}' class="collapse">
			<h4><b>{{ i.nimi }}, {{ i.e_mail }}, {{ i.tel_nr }}</b><br>{{ i.date }}<br><br>{{ i.letter|linebreaks }}</h4>
			</div>
			{% endfor %}
		</div>
		{% endif %}
	</div>
	{% include "navbar/footer.html" %}
</body>
</html>