{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ contact.name }}</title>

	<link rel="stylesheet" type="text/css" href="{% static "statistics.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "backend.css" %}">
</head>
<body>
{% include "navbar/navbar.html" %}

<div class="col-xs-12 main">
	<div class="col-xs-12 col-md-2">
		<a href="/login">
			<div class="boxer">TAGASI</div>
		</a>
	</div>

<div class="col-xs-12 ajalugu">
	<form method="POST"> {% csrf_token %}
		<input type="date" name="date1" value="{{ date1 }}">
		<input type="date" name="date2" value="{{ date2 }}">
		<button type="submit" name="submit-btn" value="inquiry">Otsi</button>
	</form>
</div>

		<div class="col-xs-12 views">	
			<h3>lehe vaadete arv</h3>
			{% for item in site_views %}
			<div class="view_item">
				<div class="item_block" style="height: {{ item.block_height }}vh"></div>
				<p>{{ item.appname }}<br>{{ item.count }}</p>
			</div>
			{% endfor %}
		</div>
		
		<hr>
		<div class="col-xs-12 referals">
			<h3>Ümbersuunamised</h3>
			{% for item in site_referals %}
				<h4>Rakendusse: <b>{{ item.appname }}</b></h4>
				{% for row in item.referers %}
					<div class="view_item">
						<div class="item_block" style="height: {{ row.2 }}vh"></div>
						<p>{{ row.0 }}<br>{{ row.1 }}</p>
					</div>
				{% endfor %}
				<hr>
			{% endfor %}
		</div>
</div>

{% include "navbar/footer.html" %}
</body>
</html>