{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ contact.name }}</title>

	<link rel="stylesheet" type="text/css" href="{% static "tootelisamine.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "backend.css" %}">
</head>
<body>
{% include "navbar/navbar.html" %}

<div class="col-xs-12 main">
	<div class="col-xs-12">
		<a href="/login" class="nav">
			<div class="boxer">TAGASI</div>
		</a>
		<a href="/tootehaldus" class="nav">
			<div class="boxer">HALDA TOOTEID</div>
		</a>
	</div>
	<br><br>
		{% if notice != "" %}
		<script type="text/javascript">
			alert("{{ notice }}");
		</script>
		{% endif %}
		<div class="col-xs-12">
			<form method="POST" enctype="multipart/form-data"> {% csrf_token %}
			<div class="col-xs-12">
				<label for="translate">
					<div class="boxer danger">
						<input type="checkbox" onclick="toggler()" name="translate" id="translate">
						TÕLGI
					</div>
				</label>	
			</div>
			{% for lang in langs %}
			<div class="item" id="{{ lang }}" style="width: {{ lang_separator }}%">
			<div class="boxer">
				{{ lang }}
			</div>
			<!--
			<input type="checkbox" name="{{ lang }}_autotranslate" class="toggler translate" disabled><label class="toggler translate" for="{{ lang }}_autotranslate">autotõlgi tühjad</label><br><br>
		-->

			<div class="col-xs-12 toggler translate">
				<label for="main">
					<div class="boxer danger">
						<input type="radio" value="{{ lang }}" name="main" id="translate">
						PEAMINE TÕLGE
					</div>
				</label>	
			</div>

			<br><br>
			<input type="text" name="{{ lang }}_name" placeholder="nimi"><br><br>
			<input type="text" name="{{ lang }}_price" placeholder="hind"><br><br>
			<input type="text" name="{{ lang }}_prevprice" placeholder="eelnev hind"><br><br>
			<textarea name="{{ lang }}_description" placeholder="kirjeldus"></textarea>
			</div>
			{% endfor %}
			<div class="col-xs-12">
				<label for="esilehele">
					<div class="boxer danger">
						<input type="checkbox" name="esilehele">
						ESILEHELE
					</div>
				</label>
			</div>

				<br><br>
			<input type="file" name="image" accept="image/*" required><br><br>
			<button class="boxer" type="submit">Salvesta</button>
			<script type="text/javascript">
				function toggler() {
					$(".toggler").toggleClass("translate");
				}
			</script>
			</form>
		</div>
</div>

{% include "navbar/footer.html" %}
</body>
</html>